
input:enabled {
    background-color: pink;
}

input:focus {
    background-color: mediumaquamarine;
}

input:disabled {
    background-color: dimgrey;
}

fieldset {
    width: 500px;
    height: auto;
}